.carousel-container {
  position: relative;
  overflow: hidden;
  top: 70px;
}

.carousel {
  display: flex;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 auto;
}

.carousel img {
  max-width: 100%;
  height: auto;
}

