/* src/components/FindPage.css */

.header-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 0 20px;
}

.logo {
    width: 92px;
    height: 27px;
    margin-top: 10px;
}

.header-gradient {
    background: linear-gradient(91.75deg, #2AA7FF 1.4%, #0C8CE6 100.57%);
    height: 110px;
    width: auto;
    border-radius: 0 0 16px 16px;
}

.main-content {
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
    padding: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .header-gradient {
        height: 90px;
    }

    .main-content {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 72px;
        height: 22px;
    }

    .header-gradient {
        height: 70px;
    }
}
