.search {
    margin-top: 250px;
    width: 90%; /* Adjust width to be more flexible */
    max-width: 900px; /* Max width to keep it from being too wide */
    height: auto; /* Set height to auto */
    position: absolute;
    top: 0; /* Position it vertically in the middle of the hero section */
    left: 50%; /* Position it horizontally in the middle of the hero section */
    transform: translate(-50%, -50%); /* Adjust for centering */
    z-index: 1;
    background: white;
    border-radius: 10px;
    padding: 20px; /* Adjust padding as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow */
    box-sizing: border-box; /* Ensure padding and border are included in the width and height */
  }
  
  .search1 {
    display: flex;
   flex-direction: row; /* Allow wrapping */
    justify-content: space-around;
    align-items: start;
  }
  
  .search1 select,
 
  .search1 input[type="date"],
  .search1 input[type="time"] {
    margin: 1.5rem;
    flex: 1 1 100%; /* Flex-grow, flex-shrink, flex-basis: takes full width on small screens */
  }
  .search1 button{
    margin-top: 1.4rem;
    width: 231px;
   height: 40px;
   gap: 0px;
   border-radius: 8px;
   opacity: 0px;
   background: #2AA8FF;
   color: white;
   font-family: "poppins";
   border: none;
  }
  
  select,
  input[type="date"],
  input[type="time"] {
    width: 100%; /* Ensure full width */
    padding: 1rem; /* Adjust padding for better look on small screens */
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  /* Media queries for responsiveness */
  @media (min-width: 600px) {
    .search-section1 select,
    
    .search-section1 input[type="date"],
    .search-section1 input[type="time"] {
      flex: 1 1 auto; /* Adjust flex for medium to large screens */
    }
  
    select,
    input[type="date"],
    input[type="time"] {
      width: calc(50% - 1rem); /* Two columns on medium screens */
    }
  }
  
  @media (min-width: 900px) {
    select,
    input[type="date"],
    input[type="time"] {
      width: calc(33.33% - 1rem); /* Three columns on large screens */
    }
    .search-section1 button{

    }
  }
  